
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">administrateur</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="router.php?action=specReadAll">Liste des spécialités</a></li>
        <li><a class="dropdown-item" href="router.php?action=specReadId">Sélection d’une spécialité par son id</a></li>
        <li><a class="dropdown-item" href="router.php?action=specCreate">Insertion d’une nouvelle spécialité</a></li> 
        <li><a class="dropdown-item" href="router.php?action=readAllPraticien">Liste des praticiens avec leur spécialité</a></li> 
        <li><a class="dropdown-item" href="router.php?action=specCount">Nombre de praticiens par patient</a></li> 
        <li><a class="dropdown-item" href="router.php?action=administrateurInfo">Info</a></li> 
    </ul>
</li>