

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">patient</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="router.php?action=showInfo">Mon compte</a></li>
        <li><a class="dropdown-item" href="router.php?action=showAppointments">Liste de mes rendez-vous</a></li>
        <li><a class="dropdown-item" href="router.php?action=selectPraticien">Prendre un rendez-vous avec un praticien</a></li>
    </ul>
</li>
