<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Innovations</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="router1.php?action=vinReadAll">Mon compte</a></li>
        <li><a class="dropdown-item" href="router1.php?action=vinReadId">Liste de mes rendez-vous</a></li>
        <li><a class="dropdown-item" href="router1.php?action=vinCreate">Prendre un rendez-vous avec un praticien</a></li> 
    </ul>
</li>
