<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Innovations</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="router1.php?action=vinReadAll">Liste des spécialités</a></li>
        <li><a class="dropdown-item" href="router1.php?action=vinReadId">Sélection d’une spécialité par son id</a></li>
        <li><a class="dropdown-item" href="router1.php?action=vinCreate">Insertion d’une nouvelle spécialité</a></li> 
        <li><a class="dropdown-item" href="router1.php?action=vinCreate">Liste des praticiens avec leur spécialité</a></li> 
        <li><a class="dropdown-item" href="router1.php?action=vinCreate">Nombre de praticiens par patient</a></li> 
        <li><a class="dropdown-item" href="router1.php?action=vinCreate">Info</a></li> 
    </ul>
</li>